.counter {
   position: fixed;
   left: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 250px;
   height: 250px;
   border-radius: 50%;
   background-color: rgba(245, 233, 233, 0.8);
}

.counter span {
   font-size: var(--fsz-2xxl);
   margin-bottom: 20px;
   color: var(--col-main);
}

.counter p {
   font-size: var(--fsz-big);
   text-align: center;
   color: var(--col-title);
}
