.wordList {
   padding: 10px 15px;
   display: grid;
   grid-gap: 20px;
}

.emptyListMessage {
   text-align: center;
   font-size: var(--fsz-xxl);
   color: var(--col-main);
}

.preloader {
   margin: 0 auto;
   width: 200px;
   height: 200px;
   margin-top: 150px;
}
