.button {
   display: flex;
   align-items: center;
   padding: 10px 20px;
   font-size: var(--fsz-big);
   background-color: transparent;
   border: 1px solid var(--border-main);
   cursor: pointer;
   color: var(--col-main);
   border-radius: 10px;
   text-transform: uppercase;
   font-weight: 600;
}

.button svg {
   font-size: 30px;
   margin-right: 10px;
}

.button:disabled {
   opacity: 0.5;
}

.button:hover {
   transform: translate(1px, 1px);
   transition: all 0.3s ease;
   border: 1px solid var(--hover-col);
   color: var(--hover-col);
}
