.link {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 65%;
   transition: transform 1s ease;
   text-decoration: none;
   font-size: var(--fsz-big);
   font-weight: 600;
   color: var(--col-title);
   min-height: 100px;
   box-shadow: var(--boxsh-form);
   border-radius: 5px 30px 30px 5px;
   padding: 0 20px;
}

.link:hover {
   transform: translateX(40px);
   color: var(--hover-col);
   transition: transform 1s ease;
   background-color: var(--hover-white);
}

.link svg {
   font-size: var(--fsz-xxl);
}
