:root {
   --fsz-big: 28px;
   --fsz-main: 20px;
   --fsz-small: 14px;
   --col-main: #414141;
   --col-title: #3d5a41;
   --col-typography: #917676;
   --hover-col: #1c2ae9;
   --bcgc-white: #faf6f6;
   --border-main: #a55252;
   --boxsh-form: 4px 4px 5px 2px #afadad;
   --textsh-title: 2px 2px 2px #7e7b7b;
   --col-error: #ff0000;
   --col-ok:#428f4c;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
}
