.layout {
   display: grid;
   grid-template-columns: minmax(10px, 1fr) minmax(320px, 1400px) minmax(10px, 1fr);
   grid-template-rows: minmax(100vh, 1fr);
   background: url('../assets/bg-main-fone.jpg') no-repeat center center/cover;
   overflow: hidden;
}

.containier {
   grid-column: 2/3;
}

main {
   position: relative;
}
